html {
  font-size: 100%;

}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
   text-align: center;
   color: #57A3EE;
   font-size: 2.0rem;
   font-style: italic;
}

nav {
  background-color: #57a3ee;
  }

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  list-style-type: none;
}

nav ul li {
  background-color: #57A3EE;
  border: 1px solid #57A3EE;
  padding: 1em 4em;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
nav ul li:nth-child(1n) a {
  padding: 1em 4em;
  font-weight: bold;
}


.first {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.second {
  grid-column: 2;
  grid-row: 1;
}

.third {
  grid-column: 3;
  grid-row: 1;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

p {
  font-size: 1rem;
  padding: 1rem;
}

.one {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.two {
  grid-column: 2;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 2;
}

.first {
      border: 2px solid #000;
      box-shadow: 10px 10px #57A3EE;
}

.second {
      border: 2px solid #000;
      box-shadow: 10px 10px #57A3EE;
}

.third {
      border: 2px solid #000;
      box-shadow: 10px 10px #57A3EE;
