html {
  font-size: 100%;

}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
   text-align: center;
   color: #57A3EE;
   font-size: 2.0rem;
   font-style: italic;
}

h2 a {
  color: #57A3EE;
  text-decoration: none;
}

h2 a:hover {
  color: #57A3EE;
  text-decoration: none;
}


nav {
  background-color: #57a3ee;
  }

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }

nav ul li {
  background-color: #57A3EE;
  border: 1px solid #57A3EE;
  padding: 1em 4em;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
nav ul li:nth-child(1n) a {
  padding: 1em 4em;
  font-weight: bold;
}


section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 10px;

}

div {
  margin: 5rem 5rem 5rem 5rem;
  text-align: center;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

.one {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.two {
  grid-column: 2;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 2;
}

.first {
      border: 2px solid #000;
      box-shadow: 10px 10px #57A3EE;
}

.second {
      border: 2px solid #000;
      box-shadow: 10px 10px #57A3EE;
}

.third {
     border: 2px solid #000;
     box-shadow: 10px 10px #57A3EE;
}

.wrapper {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 90px;
       grid-auto-rows: minmax(100px, auto);
}

.ninth {
     grid-column: 1;
     grid-row: 1;
     border: 2px solid #000;
     box-shadow: 10px 10px #57A3EE;
  }
.tenth {
     grid-column: 1;
     grid-row: 2;
     border: 2px solid #000;
     box-shadow: 10px 10px #57A3EE;
  }
.ninthone {
     grid-column: 2;
     grid-row: 1;
     font-size: 1.4rem;
     padding: 1rem;
}

.tenthone {
        grid-column: 2;
        grid-row: 2;
        font-size: 1.4rem;
        padding: 1rem;
}
.wrappertwo {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 90px;
       grid-auto-rows: minmax(100px, auto);
}

.thingo {
     grid-column: 1;
     grid-row: 1;
     border: 2px solid #000;
     box-shadow: 10px 10px #57A3EE;
         }
.thingt {
     grid-column: 1;
     grid-row: 2;
     border: 2px solid #000;
     box-shadow: 10px 10px #57A3EE;
}

.thingone {
     grid-column: 2;
     grid-row: 1;
     font-size: 1.4rem;
     padding: 1rem;
}

.thingtwo {
        grid-column: 2;
        grid-row: 2;
        font-size: 1.4rem;
        padding: 1rem;
