html {
  font-size: 100%;

}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
   text-align: center;
   color: #57A3EE;
   font-size: 2.0rem;
   font-style: italic;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  background-color: #57A3EE;
  border: 1px solid #57A3EE;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
nav ul li:nth-child(1) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(2) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(3) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(4) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(5) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(6) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(7) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

nav ul li:nth-child(8) a {
  border: 1px solid #fff;
  padding: 1em 4em;
  font-weight: bold;
}

figure img {
  width: 15%;
  height: 15%;
}


.contain {
    max-width:960px;
    text-align:center;
}

.category {
   position:relative;
   display: inline-block;
   float:left;
   padding:160px;
}

.contain {
    max-width:160px;
    text-align:center;
}

.pg {
   position:relative;
   display: inline-block;
   float:left;
   padding:10px;
}
